body{
    background-color:#808080;
    color:#555;
    font-family: Avenir;, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin:0;
    
}

.page-container{
    margin: 0 auto;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    /* height:300px; */
}

.imageContainers img{
    object-fit: cover;
    height: 300px;
}

#textContainer{
    width:80%;
    margin:auto;
    height:570px;
    text-align: center;
    padding: 10px;
    /* margin-bottom:30px; */
}


#textContainer h1{
    color:white;
}

#main-header{
    background-color:#808080;
    color:#fff;
}

#navbar{
    background-color:#333;
    color:#fff;
    list-style:none;
    
}

#navbar li{
    display:inline;
}

#navbar a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding-right:15px;
}

#showcase{
    background-image:url('Homes picture.jpeg');
    min-height:400px;
    max-width: 100%;
    margin-bottom:30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* background-size: 100%; */
}

#showcase h1{
    color:white;;
    font-size:50px;
    line-height:1.6em;
    padding-top:10px;
    text-align:center;
    background-color: #808080;
    display:inline-block; 
    font-family: Avenir;
}

#mainParagraph{
    float:left;
    width: 93%;
    /* padding: 0px 30px; */
    box-sizing:border-box;
    font-size: 20px;
    margin: auto;
    font-family: Avenir;
    color:white;
}

#sidebar{
    float:right;
    width:30%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}



.main-footer{
    background:#333;
    color:#fff;
    text-align:center;
    /*increases the black space surrounding the text*/
    padding:.5px;
    margin-top:60px;
    bottom: 0px;;
    width: 100%;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
}
